node_modules/
dist/
cdk.out/
.env
.env.production
*.log
.DS_Store
infra/cdk.out/
frontend/dist/
backend/node_modules/
frontend/node_modules/
infra/node_modules/
infra/*.js
infra/*.d.ts
infra/lib/*.js
infra/lib/*.d.ts
infra/bin/*.js
infra/bin/*.d.ts
